{% extends "base.html" %}
{% load item_tags cloudinary %}
{% block title %}My items - {% endblock %}

{% block body %}
    <h1>My items</h1>

    <a href="{% url 'my_items' %}">
        <span class="label
            {% if active_filter == '' %}label-primary{% else %}label-info{% endif %}
        ">
            All
            <span class="badge">{{ counts.all }}</span>
        </span>
    </a>
    &nbsp;
    <a href="{% url 'my_items' %}?filter=owned">
        <span class="label
            {% if active_filter == 'owned' %}label-primary{% else %}label-info{% endif %}
        ">
            Mine
            <span class="badge">{{ counts.owned }}</span>
        </span>
    </a>
    &nbsp;
    <a href="{% url 'my_items' %}?filter=notowned">
        <span class="label
            {% if active_filter == 'notowned' %}label-primary{% else %}label-info{% endif %}
        ">
            <span class="badge ">{{ counts.notowned }}</span>
            Not mine yet
        </span>
    </a>
    &nbsp;
    <a href="{% url 'my_items' %}?filter=after">
        <span class="label
            {% if active_filter == 'after' %}label-primary{% else %}label-info{% endif %}
        ">
            Not needed any more
            <span class="badge ">{{ counts.after }}</span>
        </span>
    </a>
    &nbsp;
    <a href="{% url 'my_items' %}?filter=now">
        <span class="label
            {% if active_filter == 'now' %}label-primary{% else %}label-info{% endif %}
        ">
            Already using
            <span class="badge ">{{ counts.now }}</span>
        </span>
    </a>
    &nbsp;
    <a href="{% url 'my_items' %}?filter=before">
        <span class="label
            {% if active_filter == 'before' %}label-primary{% else %}label-info{% endif %}
        ">
            Will be used
            <span class="badge ">{{ counts.before }}</span>
        </span>
    </a>
    <br/>
    <a href="{% url 'my_items' %}?filter=booked">
        <span class="label
          {% if active_filter == 'booked' %}label-primary{% else %}label-info{% endif %}
        ">
            Booked
            <span class="badge ">{{ counts.booked }}</span>
        </span>
    </a>
    &nbsp;
    <a href="{% url 'my_items' %}?filter=payment">
        <span class="label
            {% if active_filter == 'payment' %}label-primary{% else %}label-info{% endif %}
        ">
            Payment
            <span class="badge ">{{ counts.payment }}</span>
        </span>
    </a>
    &nbsp;
    <a href="{% url 'my_items' %}?filter=requested">
        <span class="label
            {% if active_filter == 'requested' %}label-primary{% else %}label-info{% endif %}
        ">
            Requested
            <span class="badge ">{{ counts.requested }}</span>
        </span>
    </a>
    &nbsp;
    <a href="{% url 'my_items' %}?filter=free">
        <span class="label
            {% if active_filter == 'free' %}label-primary{% else %}label-info{% endif %}
        ">
            Free
            <span class="badge ">{{ counts.free }}</span>
        </span>
    </a>

    <table class="table table-fixed-header " id="mine_items">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Category</th>
                <th>Age</th>
                <th>Price</th>
                <th>Status</th>
                <th>{% if my_kid %} {{ my_kid.name }} ({{ my_kid.age|age_text }}) {% endif %}</th>
            </tr>
        </thead>
        <tbody>

    {% if not object_list %}
        <tr>
            <td colspan="7">
                <p class="text-center"><i>You have no items!</i></p>
            </td>
        </tr>
    {% endif %}

    {% for item in object_list %}
        {% kiditemactive item my_kid as itemactive %}
        {% kidowned my_kid item as owned %}
        <tr class="{{ itemactive }} {{ owned }} status-{{ item.status }}">
            <td>
                <img src="{% cloudinary_url item.pic width=100 height=100 crop="fill" %}" class="thumbnail" />
            </td>
            <td>
                {{ item.name }}
            </td>
            <td>
                {{ item.category }}
            </td>
            <td>
                {{ item.age_from|age_text }} - {{ item.age_to|age_text }}
            </td>
            <td>
                {{ item.price }}
            </td>
            <td class="text-center">
                {% item_status item user %}
            </td>
            <td class="kid-timeline"></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock body %}
