{% extends "base.html" %}
{% load item_tags cloudinary %}
{% block title %}My items - {% endblock %}

{% block body %}
    <h1>My items</h1>

    <table class="table " id="mine_items">
        <thead>
            <tr>
                <th>{% if my_kid %} {{ my_kid.name }} ({{ my_kid.age|age_text }}) {% endif %}</th>
                <th>Picture</th>
                <th>Name</th>
                <th>Category</th>
                <th>Age</th>
                <th>Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
    {% for item in object_list %}
        <tr class="{% kiditemactive item %}">
            <td class="kid-timeline">
                <!--
                {% if item.is_active < 0 %}
                    <div class="progress-bar progress-bar-default" style="width: 70%;"></div>
                {% elif item.is_active > 0 %}
                    <div class="progress-bar progress-bar-warning" style="width: 70%;"></div>
                {% else %}
                    <div class="progress-bar progress-bar-success" style="width: 70%;"></div>
                {% endif %}
                -->
            </td>
            <td>
                <img src="{% cloudinary_url item.pic width=100 height=100 crop="fill" %}" class="thumbnail" />
            </td>
            <td>
                {{ item.name }}
            </td>
            <td>
                {{ item.category }}
            </td>
            <td>
                {{ item.age_from|age_text }} - {{ item.age_to|age_text }}
            </td>
            <td>
                {{ item.price }}
            </td>
            <td>
                {% item_status item user %}
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock body %}
