{% extends "base.html" %}
{% load item_tags cloudinary %}
{% block title %}My items - {% endblock %}

{% block body %}
    <h1>My items</h1>

    <table class="table table-fixed-header " id="mine_items">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Category</th>
                <th>Age</th>
                <th>Price</th>
                <th>Status</th>
                <th>{% if my_kid %} {{ my_kid.name }} ({{ my_kid.age|age_text }}) {% endif %}</th>
            </tr>
        </thead>
        <tbody>

    {% if not object_list %}
        <tr>
            <td colspan="7">
                <p class="text-center"><i>You have no items!</i></p>
            </td>
        </tr>
    {% endif %}

    {% for item in object_list %}
        {% kiditemactive item my_kid as itemactive %}
        {% kidowned my_kid item as owned %}
        <tr class="{{ itemactive }} {{ owned }} status-{{ item.status }}">
            <td>
                <img src="{% cloudinary_url item.pic width=100 height=100 crop="fill" %}" class="thumbnail" />
            </td>
            <td>
                {{ item.name }}
            </td>
            <td>
                {{ item.category }}
            </td>
            <td>
                {{ item.age_from|age_text }} - {{ item.age_to|age_text }}
            </td>
            <td>
                {{ item.price }}
            </td>
            <td class="text-center">
                {% item_status item user %}
            </td>
            <td class="kid-timeline"></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock body %}
