{% extends "base.html" %}
{% load item_tags cloudinary %}
{% block title %}My items - {% endblock %}

{% block body %}
    <h1>Search items</h1>

    <form action="{% url 'search_items' %}" method="get">
        <p>
            Search: <input type="text" name="q" value="{{ q }}"> <input type="submit" value="Search!">
        </p>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Category</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
    {% for item in object_list %}
        <tr class="{% kiditemactive item %}">
            <td>
                <img src="{% cloudinary_url item.pic width=100 height=100 crop="fill" %}" class="thumbnail" />
            </td>
            <td>
                {{ item.name }}
            </td>
            <td>
                {{ item.category }}
            </td>
            <td>
                {{ item.age_from|age_text }} - {{ item.age_to|age_text }}
            </td>
            <td>
                <a href="/payments/sale/{{ item.id }}/">get it!</a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock body %}
