{% extends "base.html" %}
{% block body %}
{% load bootstrap3 %}
{% load cloudinary %}
{% cloudinary_includes %}
{% cloudinary_js_config %}

<div id="headerwrap" style="position: relative;">
    <header class="clearfix">
        <p>Don't spend a fortune on your kid. Share your spendings.</p>
    </header>

    <div class="col-xs-offset-2 col-xs-8 col-sm-6 col-sm-offset-3" style="background-color: rgba(255, 255, 255, 0.5);">
        <form method="POST">
            {% csrf_token %}
            {% cloudinary_direct_upload_field request=request %}
            {% bootstrap_form form %}
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </div>
</div>

{% endblock body %}
