{% extends "base.html" %}
{% block body_wrapper %}

<div id="headerwrap" style="position: relative;">
    <header>
        <p style="margin: 0 20px;">Don't spend a fortune on your kid's stuff! Share and reuse instead.</p>
    </header>

    <div class="col-xs-offset-2 col-xs-8 col-sm-6 col-sm-offset-3" style="position: absolute; bottom: 30%; background-color: rgba(255, 255, 255, 0.5);">
        <form method="post" action="/register" style="margin: 40px 0;" class="form-inline">
            {% csrf_token %}
            <input type="text" id="email" name="email" placeholder="Email">
            <button class="btn btn-primary" type="submit">Login / Register</button>
        </form>
    </div>
</div>

{% endblock body_wrapper %}
